* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

h1 {
    font-size: 2.1em;
}

h1 span {
    color: #1FB391;
}

.container {
    text-align: center;
    margin-top: 70px;
    margin-left: -300px;
}

h2 {
    font-size: 2.1em;
    margin-bottom: 20px;
}

.container p {
    font-size: 1.1em;
     margin-left: -150px; 
}
#mail{
    margin-right: -20px;
}
input {
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
}
button{
    padding: 7px 20px;
    font-size: 16px;
    outline: none;
    border: 2px solid #3b3949;
    border-radius: 8px;
    background-color: #200a5c;
    color: #fff;
}